*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.offer-img{
    height: 100%;
    width: 100%;
}

.cell{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
}

.game-wrapp{
    margin: 0 auto;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.settings-panel{
    display: flex;
    justify-content: space-around;
}

select{
    width: 350px;
    background-color: blue;
    border: 2px solid green;
}

.game-field-wrap{
    display: flex;

    justify-content: center;
}