*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

}

.row{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.cell{
    width: 80px;
    height: 80px;
    border: 2px solid blue;
}

.game-wrapp{
    margin: 0 auto;
    max-width: 1152px;
}